.cs_card{
        width: 100%;
        height: 100%;
        border-radius: 500px 500px 0px 0px;

        .cs_card_img {
            border-radius: inherit;
            display: block;
            height: 100%;
            width: 100%;
            
            img {
                height: 100%;
                width: 100%;
                border-radius: inherit;
                transition: all 0.3s ease;
                }
            }

    &.cs_style_1 {
        .cs_card_title {
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s ease;
            }
        .cs_card_details {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            padding: 0 24px 24px;
            transition: all 0.3s ease;

            .cs_card_icon {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -60px;
                z-index: 100;
            }

            p {
                padding-bottom: 56px;
                margin-top: 80px;
                font-size: 16px;
            }
        }
            &:hover {
                background-color: var(--body-color);
                border: 1px solid var(--primary);
                border-radius: 500px 500px 0px 0px;

                .cs_card_img {
                    opacity: 0;
                    visibility: hidden;
                }
                .cs_card_details {
                    opacity: 1;
                    visibility: visible;
                }
                .cs_card_title {
                    bottom: 208px;        
                    color: var(--primary);

                }
            }
    }

    &.cs_style_2 {
        .cs_card_img {
            background-color: var(--body-color);
            height: auto;
        }
        .cs_card_details{
            padding-top: 24px;
        }
    }

    &.cs_style_3{
        .cs_card_thumbnail{
            width: 100%;
            height: 100%;
            border-radius: inherit;
            overflow: hidden;
            opacity: 0;
            transition: all .3s ease;
            padding-bottom: 46px;
            position: relative;

            img {
                padding-bottom: 46px;
                width: inherit;
            }
            
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgba(108, 78, 63, 0.5);


            }
    }

    .cs_vendor_icon {
        width: 100%;
        height: 100%;
        border: 1px solid var(--primary);
        border-radius: inherit;
        position: relative;
        z-index: 2;
    }

    .cs_vendor_details {
        padding-top: 24px;
    }
    
    &:hover {    
        .cs_card_thumbnail {
            opacity: 1;  
        }
    }
    }

}







.cs_gap_xy {
    gap: 65px 0;
}

// packages card

.cs_package_card.cs_style_1 {
    padding: 80px 24px 24px;
    border-radius: 500px 500px 0 0;
    transition: all 0.3s ease;

    .cs_package_head {
        p {
            padding-bottom:  8px;
            letter-spacing: 8px;
        }
    }

    .cs_package_feature {
        >li {
            border-bottom: 1px solid #6c4e3f26;
            padding: 20px 0;
            
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
    .cs_package_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 24px;
    }

    &:hover {
        background-color: var(--primary);
        color: var(--secondary);
        .cs_section_title {
            color: var(--secondary);
        }
        .cs_package_feature {
            >li {
                border-color: #faf6f226;
            }
        }
        .cs_btn {
            background-color: var(--secondary);
            color: var(--primary);
        }
    }
}

.cs_card.cs_style_4 {
    border-radius: 0;

    .cs_card_details {
        background: var(--body-color);
        width: 70%;
        padding: 56px;
        margin-top: -253px;
        margin-left: auto;
        padding-left: 25%;

        .cs_card_details_in {
            max-width: 488px;

            .cs_card_title {
                padding-bottom: 28px;
            }
          .cs_btn_section {
            display: flex;
            align-items: end;
            gap: 56px;
            padding-top: 56px;
            margin-left: -52%;
              .cs_vertical {
                width: 200px;
                height: 1px;
                background-color: var(--primary);
                opacity: .5;
            }
            .cs_link_btn {
                display: inline-flex;
                border-bottom: 1px solid var(--primary);
            }
          }
        }
    }
    &.cs_type_2 {
        .cs_card_thumbnail {
            display: flex;
            justify-content: end;
        
        }
       .cs_card_details {
            padding-left: 56px;
            margin-left: 0;
            
            .cs_card_details_in {
                max-width: 100%;
                p,
                .cs_card_title{
            max-width: 488px;
        }
            }
        
         .cs_btn_section {
            margin-left: 0;
            gap: 484px;
         }
       }
    }
}