
.cs_card_style_1 {
        border-radius: 500px 500px 0px 0px;

        .cs_card_thumbnail {
            border-radius: inherit;
            display: block;

            img {
                height: 100%;
                width: 100%;
                border-radius: inherit;
                transition: all 0.3s ease;
            }
        }
        .cs_card_title {
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s ease;
            }
        .cs_card_details {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            padding: 0 24px 24px;
            transition: all 0.3s ease;

            .cs_card_icon {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -60px;
                z-index: 100;
            }

            p {
                padding-bottom: 56px;
                margin-top: 80px;
                font-size: 16px;
            }
        }
            &:hover {
                background-color: var(--body-color);
                border: 1px solid var(--primary);
                border-radius: 500px 500px 0px 0px;

                .cs_card_thumbnail {
                    opacity: 0;
                    visibility: hidden;
                }
                .cs_card_details {
                    opacity: 1;
                    visibility: visible;
                }
                .cs_card_title {
                    bottom: 208px;        
                    color: var(--primary);

                }
            }
 
}

.cs_card_style_3{
        overflow: hidden;
        border-radius: 500px 500px 0px 0px;
        
        .cs_card_thumbnail{
            height: 100%;
            width: 100%;
            z-index: 0;
            border-radius: inherit;
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
                transition: all 0.3s ease;
            }
            
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgba(108, 78, 63, 0.5);
            }
    }

    .cs_card_icon {
        padding: 86px 50px 46px;
        border: 1px solid var(--primary);
        border-radius: 500px 500px 0 0;
        position: relative;
        z-index: 2;
    }

    .cs_card_details {
        margin-top: 24px;
        position: relative;
        z-index: 2;
    }
    
    &:hover {    
        .cs_card_thumbnail {
            opacity: 1;  
        }
    }
    }

.cs_card_style_4 {
    border-radius: 0;
    
    .cs_card_thumbnail {
        display: inline-flex;
        overflow: hidden;

        img {
            transition: all 01s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.07);
            }
        }
    }

    .cs_card_details {
        background: var(--body-color);
        width: 70%;
        padding: 56px;
        margin-top: -253px;
        margin-left: auto;
        padding-left: 25%;

        .cs_card_details_in {
            .cs_card_title {
                padding-bottom: 28px;
                transition: all .3s ease;

                &:hover {
                    opacity: .75;
                }
            }
          .cs_btn_section {
            display: flex;
            align-items: end;
            gap: 56px;
            padding-top: 56px;
            margin-left: -52%;
              .cs_vertical {
                width: 200px;
                height: 1px;
                background-color: var(--primary);
                opacity: .5;
            }
            .cs_link_btn {
                display: inline-flex;
                position: relative;

                &::before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: var(--primary);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: scale(1, 1);
                    transition: transform .3s ease;
                    transform-origin: top left;
                }
                
                &:hover {
                    opacity: .75;

                    &::before {
                        transform: scale(0, 1);
                        transform-origin: top right;
                    }
                }
            }
          }
        }
    }
    &.cs_type_2 {
        .cs_thumbnail_wraper {
            display: flex;
            justify-content: end;
        }
       .cs_card_details {
            padding-left: 56px;
            margin-left: 0;
            
            .cs_card_details_in {
                max-width: 100%;
                p,
                .cs_card_title{
                     max-width: 488px;
                }
            }
        
         .cs_btn_section {
            margin-left: 0;
            gap: 484px;
         }
       }
    }
    &.cs_type_3 {
        position: relative;
        margin-top: 253px;

        .cs_thumbnail_wraper {
            position: absolute;
            left: 39%;
            top: 56px;
        }

        .cs_card_details {
            padding-left: 56px;
            margin-left: 0;
            .cs_card_details_in {
                width: 315px;
            }
        }

        @media (max-width: 1199px) {
            margin-top: 0;

            .cs_thumbnail_wraper {
                position: initial;
            }
            .cs_card_details {
                .cs_card_details_in {
                    width: 100%;
                }
        }
        }
    }

    @media (max-width: 1399px) {
       .cs_card_details {
            padding-right: 20px;
            padding-left: 32%;
       }
       &.cs_type_2 {
        .cs_card_details {
            padding-left: 20px;
            .cs_card_details_in {
                .cs_card_title, p {
                    max-width: 410px;
                }
            }

                .cs_btn_section {
                    gap: 350px;
                }
        }
       }
    }
    @media (max-width: 1199px) {
       .cs_card_details {
        width: 100%;
        margin-top: 16px;
        padding-left: 0;
        padding: 56px;
        margin-left: initial;
    
            .cs_card_details_in {
                .cs_btn_section {
                    margin-left: 0;
                }
            }
       }
       &.cs_type_2 {
        .cs_thumbnail_wraper {
            justify-content: start;
        }
        .cs_card_details {
            padding-left: 56px;
            .cs_card_details_in {
                .cs_card_title, p {
                    max-width: 100%;
                }
            .cs_btn_section {
            gap: 56px;
        }
            }
        }
       }
    }
    @media (max-width: 767px) {
       .cs_card_details {
        .cs_card_details_in {
            .cs_btn_section {
            .cs_vertical {
                width: 90px;
            }
        }
        }
       }
    }
    @media (max-width: 576px) {
       .cs_card_details {
        padding: 12px;

        .cs_card_details_in {
            .cs_btn_section {
                padding-top: 20px;
            }
        }
       }
       &.cs_type_2 {
        .cs_card_details {
            padding-left: 12px;
        }
       }

       &.cs_type_3 {
        .cs_card_details {
            padding-left: 12px;
        }
       }
    }
}

.cs_card_style_6 {
    border-radius:  0;

    .cs_card_details {
        display: flex;
        justify-content: flex-end;
        margin-left: 23%;
        margin-top: -29%;
        background-color: var(--body-color);
        padding: 64px;
        width: 77%;

        .cs_card_title {
            align-self: flex-end;
            margin-top: 56px;
        }
        
        .cs_card_icon {
            margin-left: 64PX;
        }
    }
    @media (max-width: 1399px) {
        .cs_card_details {
            padding-right: 0;
            margin-left: 26%;
            margin-top: -30%;
        }
    }
    @media (max-width: 1199px) {
        .cs_card_details {
            margin-top: -25%;
            .cs_height_102 {
                height: 0px;
            }
            .cs_card_icon {
                margin-left: 0;
            }
        }
    }
    @media (max-width: 991px) {
        .cs_card_details {
            padding-right: 0;
            margin-top: -20%;
        }
    }
    @media (max-width: 676px) {
        .cs_card_details {
            .cs_card_icon {
                margin-left: 0;
            }
        }
    }
}

// packages card

.cs_card_style_5 {
    padding: 80px 24px 24px;
    border-radius: 500px 500px 0 0;
    transition: all 0.3s ease;

    .cs_card_head {
        p {
            padding-bottom:  8px;
            letter-spacing: 8px;
        }
    }

    .cs_card_details {
        >li {
            border-bottom: 1px solid #6c4e3f26;
            padding: 20px 0;
            
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
    .cs_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 24px;
    }

    &:hover {
        background-color: var(--primary);
        color: var(--secondary);
        .cs_section_title {
            color: var(--secondary);
        }
        .cs_card_details {
            >li {
                border-color: #faf6f226;
            }
        }
        .cs_btn {
            background-color: var(--secondary);
            color: var(--primary);
        }
    }
}