.cs_gallery_right_top {
    display: flex;
    justify-content: space-between;
 
}

.cs_section_heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.cs_style_1 {
        flex-direction: row;

        p {
            align-self: flex-end;
        }
    }
}
.cs_gallery_right_bottom {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
    }
}
.cs_about_gallery.cs_style_1 {
    position: relative;

    .cs_about_gallery_btn{
        transition: all .3s ease;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 32px;
        right: 32px;

        .cs_btn {
            padding: 12px 24px;
            }
        }
        &:hover {
            .cs_about_gallery_btn{
                opacity: 1;
                visibility: visible;
            }
        }
}
.cs_service_details_gallery{
    display: flex;
    flex-direction: column;
    gap: 40px;
    // align-items: center;
}
.cs_service_details_gallery_bottom {
    display: flex;
    gap: 40px;
    align-items: center;
}