.cs_newsletter_section {
    height: 425px;

    form {
        padding-top: 36px;

        input {
            width: 500px;
        }
    }
}

.cs_newsletter_section.cs_style_2{
   form {
    input {
        border-color: var(--secondary);
        &::placeholder {
            color: var(--secondary);
            opacity: .5;
        }
    }
   }
}

.cs_newsletter_flower {
    position: absolute;
    left: 50%;
    bottom: -55px;
    transform: translate(-50%);
}

form {
    input {
        border: none;
        border-bottom: 1px solid var(--primary);
        background: transparent;
        padding-bottom: 16px;
        outline: none;

        &::placeholder {
            opacity: .5;
        }
    }
     button {
            margin-left: 24px;
        }
}

// /////////////
// .cs_card.cs_style_2 {
//   width: 100%;
//   height: 100%;
//   min-height: 457px;

//   .cs_card_thumbnail {
//     display: block;
//     width: 100%;

//     img {
//       width: 100%;
//     }
//   }

//   .cs_card_content_wrapper {
//     width: 100%;
//     padding: 30px 20px;
//     border-radius: 200px 200px 30px 30px;
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     z-index: 1;
//     transition: all 0.4s ease;
//   }

//   .cs_card_icon_wrapper {
//     width: 63px;
//     height: 60px;
//   }

//   .cs_card_content {
//     overflow: hidden;
//   }

//   .cs_card_icon_shape {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;

//     svg {
//       width: 100%;
//       height: 100%;
//     }
//   }

//   .cs_card_icon {
//     transition: all 0.3s ease;
//   }

//   .cs_card_title {
//     transition: all 0.3s ease;

//     &:hover {
//       opacity: 0.8;
//     }
//   }

//   .cs_btn.cs_style_1 {
//     width: 100%;
//     padding: 5px 40px;
//     margin-bottom: -60px;
//   }

//   &:hover {
//     .cs_btn.cs_style_1 {
//       margin-bottom: 0;
//     }
//   }

//   @media (max-width:575px) {
//     width: min(100%, 270px);
//     margin: 0 auto;
// }
// }