
.cs_testimonial_style_1 {
    background-color: rgba(255, 255, 255, 0.80);
    padding: 40px;
    margin-top: 180px;
}
.cs_testimonal_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 188px;
}

.cs_testimonial_img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
    }
}
.cs_slider_arrow {
    margin-top: auto;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 64px;
}

@media (max-width: 991px) {
    .cs_testimonial_style_1{
        margin-top: 0px;
    }
    .cs_testimonal_header {
        padding-bottom: 40px;
    }

    .cs_testimonial_img {
        flex-direction: column-reverse;
        gap: 40px;
        background-color: rgba(255, 255, 255, 0.80);
        
        .cs_slider_arrow {
            justify-content: start;
            padding-left: 40px;
        }
    }
    
}