:root {
    --primary: #6C4E3F;
    --secondary: #FAF6F2;
    --ternary: #6C4E3FBF;
    --body-color: #F3EEE7;
    --white: #fff;

    --body-font: "Montserrat", sans-serif;
    --heading-font: "Cormorant Upright", sans-serif;
}